{% extends "base.html" %}

{% block content %}
  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto py-5 fs-2 fw-bolder text-center">
        <div><i class="bi bi-box-arrow-left me-2"></i></div>
        <div>Logged out!</div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto fw-medium mb-5 ">
        <a class="btn btn-primary" href="{% url 'login'%}">Click here to login</a>
      </div>
    </div>
  </div>
  
{% endblock %}
