{% extends "base.html" %}

{% block content %}
  <div class="container mt-5 mb-4">
    <div class="row align-items-center">
      <div class="col-auto fs-3 fw-bolder p-0">
        Positions
      </div>
      <div class="col-auto px-2">
        <a href="{% url 'task_manager:position-create' %}" class="fs-3">
          <i class="bi bi-plus-square-fill"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    {% if position_list %}
      <div class="row justify-content-center">
        <div class="col border bg-white rounded-3">
          
          <div class="table-responsive my-3">
            <table class="table table-hover">
              
              <thead>
                <tr>
                  <th class="col-10">Position</th>
                  <th class="col-1"></th>
                  <th class="col-1"></th>
                </tr>
              </thead>
              
              <tbody>
                {% for position in position_list %}
                  <tr>
                    <td class="fw-medium">{{ position.name }}</td>
                    <td><a class="btn btn-outline-primary btn-sm" href="{% url "task_manager:position-update" pk=position.id %}">Edit</a></td>
                    <td><a class="btn btn-outline-danger btn-sm" href="{% url "task_manager:position-delete" pk=position.id %}">Delete</a></td>
                  </tr>
                {% endfor %}
              </tbody>
              
            </table>
          </div>
          
        </div>
      </div>
    
    {% else %}
      <div class="text-center m-5">¯\_(ツ)_/¯</div>
    {% endif %}
  
  </div>
  
{% endblock %}
