{% extends "base.html" %}

{% block content %}
  <div class="container">
  
    <div class="row justify-content-center mt-5">
      <div class="col-12 bg-primary text-white p-2 rounded-top-3 fs-5 fw-medium border border-bottom-0 text-center">
        <i class="bi bi-sticky-fill"></i> {{ task.name }}
      </div>
    </div>
  
    <div class="row justify-content-center">
      <div class="col-12 bg-white border border-top-0 border-bottom-0">
        <div class="row justify-content-center">
        
          <div class="col-md text-start p-4">
            <h4 class="mb-3">Info:</h4>
            <p><strong>ID: </strong>{{ task.id }}</p>
            <p><strong>Type: </strong>{{ task.task_type }}</p>
            <p><strong>Description: </strong>{{ task.description }}</p>
            <p><strong>Deadline: </strong>{{ task.deadline|date:"d-m-Y" }}</p>
            <p><strong>Priority: </strong>{{ task.priority }}</p>
            <div class="d-flex align-items-center">
              <strong>Status: </strong>
              {% block task_status_switch %}
                {% include "includes/task_status_switch.html" %}
              {% endblock %}
            </div>
          </div>
        
          <div class="col-md text-start p-4">
            <h4>Assigned workers:</h4>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  {% for worker in task.assignees.all|dictsort:"username" %}
                    <tr>
                      <td><a
                          class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fw-medium"
                          href="{% url "task_manager:worker-detail" pk=worker.id %}">
                        <i class="bi bi-person-fill"></i> {{ worker.username }}
                        {% if user == worker %} (Me){% endif %}
                      </a>
                      </td>
                      <td>
                        {% block unassign_worker %}
                          {% include "includes/assign_unassign_worker.html" %}
                        {% endblock %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        
          <div class="col-md text-start p-4">
            <h4>Not assigned workers:</h4>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  {% for worker in not_assigned_workers|dictsort:"username" %}
                    <tr>
                      <td>
                        <a
                            class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fw-medium"
                            href="{% url "task_manager:worker-detail" pk=worker.id %}">
                          <i class="bi bi-person-fill"></i> {{ worker.username }}
                          {% if user == worker %} (Me){% endif %}
                        </a>
                      </td>
                      <td>
                        {% block assign_worker %}
                          {% include "includes/assign_unassign_worker.html" %}
                        {% endblock %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  
    <div class="row justify-content-center mb-5">
      <div class="col-12 bg-white p-5 rounded-bottom-3 fs-5 fw-medium border border-top-0 text-center">
        <a href="{% url "task_manager:task-list" %}" class="btn btn-primary">All Tasks</a>
      </div>
    </div>
  
  </div>
{% endblock %}
