{% extends "base.html" %}

{% block content %}
  <div class="container">
  
    <div class="row justify-content-center mt-5">
      <div class="col-12 bg-primary text-white p-2 rounded-top-3 fs-5 fw-medium border border-bottom-0 text-center">
        Task: "{{ task.name }}"
      </div>
    </div>
  
    <div class="row justify-content-center">
      <div class="col-12 bg-white border border-top-0 border-bottom-0">
      
        <div class="row justify-content-center">
          <div class="col-md text-start p-4">
            <h4 class="mb-3">Info:</h4>
            <p class="card-text"><strong>ID: </strong>{{ task.id }}</p>
            <p class="card-text"><strong>Type: </strong>{{ task.task_type }}</p>
            <p class="card-text"><strong>Description: </strong>{{ task.description }}</p>
            <p class="card-text"><strong>Deadline: </strong>{{ task.deadline }}</p>
            <p class="card-text"><strong>Priority: </strong>{{ task.priority }}</p>
            <p class="card-text"><strong>Status: </strong>
              {% if task.is_completed %}
                <span style="color: green"><i class="bi bi-check-circle-fill"></i></span>
              {% else %}
                <span style="color: orange"><i class="bi bi-circle"></i></span>
              {% endif %}
            </p>
          </div>
          <div class="col-md text-start p-4">
            <h4>Assigned workers:</h4>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  {% for worker in task.assignees.all|dictsort:"username" %}
                    <tr>
                      <td><a class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fw-medium" href="{% url "task_manager:worker-detail" pk=worker.id %}">{{ worker.username }}</a></td>
                      
                      <td>
                        <form method="post" action="{% url 'task_manager:assign_unassign_worker' %}">
                          {% csrf_token %}
                          <input type="hidden" name="worker_id" value="{{ worker.id }}">
                          <input type="hidden" name="task_id" value="{{ task.id }}">
                          <button class="btn btn-link text-danger" type="submit"><i class="bi bi-x-circle-fill"></i></button>
                        </form>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        
          <div class="col-md text-start p-4">
            <h4>Not assigned workers:</h4>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  {% for worker in not_assigned_workers|dictsort:"username" %}
                    <tr>
                      <td><a class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fw-medium" href="{% url "task_manager:worker-detail" pk=worker.id %}">{{ worker.username }}</a></td>
                      
                      <td>
                        <form method="post" action="{% url 'task_manager:assign_unassign_worker' %}">
                          {% csrf_token %}
                          <input type="hidden" name="worker_id" value="{{ worker.id }}">
                          <input type="hidden" name="task_id" value="{{ task.id }}">
                          <button class="btn btn-link text-success" type="submit"><i class="bi bi-plus-circle-fill"></i></button>
                        </form>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  
    <div class="row justify-content-center mb-5">
      <div class="col-12 bg-white p-5 rounded-bottom-3 fs-5 fw-medium border border-top-0 text-center">
        <a href="{% url "task_manager:task-list" %}" class="btn btn-primary">Back to Tasks</a>
      </div>
    </div>
  
  </div>
  
{% endblock %}
