{% extends "base.html" %}


{% block content %}
  <div class="container mt-5 mb-4">
    <div class="row align-items-center">
      <div class="col-auto fs-3 fw-bolder p-0">
        Task Types
      </div>
      <div class="col-auto px-2">
        <a href="{% url 'task_manager:tasktype-create' %}" class="fs-3">
          <i class="bi bi-plus-square-fill"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    {% if tasktype_list %}
      <div class="row">
        <div class="col border bg-white rounded-3">
          
          <div class="table-responsive my-3">
            <table class="table table-hover">
              
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Type</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              
              <tbody>
                {% for type in tasktype_list %}
                  <tr>
                    <td>{{ type.id }}</td>
                    <td class="fw-medium">{{ type.name }}</td>
                    <td><a class="btn btn-outline-primary btn-sm" href="{% url "task_manager:tasktype-update" pk=type.id %}">Edit</a></td>
                    <td><a class="btn btn-outline-danger btn-sm" href="{% url "task_manager:tasktype-delete" pk=type.id %}">Delete</a></td>
                  </tr>
                {% endfor %}
              </tbody>
              
            </table>
          </div>
          
        </div>
      </div>
    
    {% else %}
      <p>There are no task types in the Task Manager</p>
    {% endif %}
  
  </div>
  
{% endblock %}





{#{% block content %}#}
{#  #}
{#  <div class="row align-items-center ">#}
{#    <div class="col-auto fs-3 fw-bolder ">#}
{#      Task Types#}
{#    </div>#}
{#    <div class="col-auto p-0">#}
{#      <a href="{% url 'task_manager:tasktype-create' %}" class="fs-3">#}
{#        <i class="bi bi-plus-square-fill"></i>#}
{#      </a>#}
{#    </div>#}
{#  </div>#}
{#  #}
{#  {% if tasktype_list %}#}
{#  <table class="table">#}
{#    <tr>#}
{#      <th>ID</th>#}
{#      <th>Task Type</th>#}
{#      <th></th>#}
{#      <th></th>#}
{#    </tr>#}
{#  {% for type in tasktype_list %}#}
{#    <tr>#}
{#      <td>{{ type.id }}</td>#}
{#      <td>{{ type.name }}</td>#}
{#      <td><a href="{% url "task_manager:tasktype-update" pk=type.id %}">Update</a></td>#}
{#      <td><a href="{% url "task_manager:tasktype-delete"  pk=type.id %}">Delete</a></td>#}
{#    </tr>#}
{#  {% endfor %}#}
{##}
{#  </table>#}
{#  {% else %}#}
{#    <p>There are no task types in the Task Manager</p>#}
{#  {% endif %}#}
{#{% endblock %}#}
