{% extends "base.html" %}

{% block content %}
  <h1>
    Tasks
    <a href="{% url 'task_manager:task-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  {% if task_list %}
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Task</th>
      <th>Is Completed</th>
      <th>Priority</th>
      <th>Type</th>
      <th>Number of Workers</th>
      <th></th>
      <th></th>
    </tr>
  {% for task in task_list %}
    <tr>
      <td>{{ task.id }}</td>
      <td><a href="{% url "task_manager:task-detail" pk=task.id %} ">{{ task.name }}</a></td>
      <td>{{ task.is_completed }}</td>
      <td>{{ task.priority }}</td>
      <td>{{ task.task_type }}</td>
      <td>{{ task.assignees.count }}</td>
      <td><a href="{% url "task_manager:task-update" pk=task.id %}">Update</a></td>
      <td><a href="{% url "task_manager:task-delete" pk=task.id %}">Delete</a></td>
    </tr>
  {% endfor %}

  </table>
  {% else %}
    <p>There are no tasks in the Task Manager</p>
  {% endif %}
{% endblock %}
