{% extends "base.html" %}
{% load query_transform %}

{% block content %}
  
  <div class="container mt-5 mb-4">
    <div class="row align-items-center">
      <div class="col-auto fs-3 fw-bolder p-0">
        Tasks
      </div>
      <div class="col-auto px-2">
        <a href="{% url 'task_manager:task-create' %}" class="fs-3">
          <i class="bi bi-plus-square-fill"></i>
        </a>
      </div>
      <div class="col-auto ms-auto p-0">
        {% block search %}
          {% include "includes/search.html" %}
        {% endblock %}
      </div>
    </div>
  </div>
  
  <div class="container">
    {% if task_list %}
      <div class="row">
        <div class="col border bg-white rounded-3">
        
          <div class="table-responsive my-3">
            <table class="table table-hover">
            
              <thead>
                <tr>
                  <th><a class="page-link" href="?{% query_transform request order="id" %}">ID</a></th>
                  <th><a class="page-link" href="?{% query_transform request order="name" %}">Task</a></th>
                  <th><a class="page-link" href="?{% query_transform request order="priority__importance" %}">Priority</a></th>
                  <th><a class="page-link" href="?{% query_transform request order="task_type" %}">Type</a></th>
                  <th><a class="page-link" href="?{% query_transform request order="assignees__count" %}"><i class="bi bi-person-fill"></i></a></th>
                  <th><a class="page-link" href="?{% query_transform request order="is_completed" %}">Status</a></th>
                  <th><a class="page-link" href="?{% query_transform request order="deadline" %}">Deadline</a></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
            
              <tbody>
                {% for task in task_list %}
                  <tr>
                    <td>{{ task.id }}</td>
                    <td><a class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fw-medium" href="{% url "task_manager:task-detail" pk=task.id %}"><i class="bi bi-sticky-fill"></i> {{ task.name }}</a></td>
                    <td>{{ task.priority }}</td>
                    <td>{{ task.task_type }}</td>
                    <td>{{ task.assignees.count }}</td>
                    <td>
                      {% block task_status_switch %}
                        {% include "includes/task_status_switch.html" %}
                      {% endblock %}
                    </td>
                    <td>{{ task.deadline|date:"M d, Y" }}</td>
                    <td><a class="btn btn-outline-primary btn-sm" href="{% url "task_manager:task-update" pk=task.id %}">Edit</a></td>
                    <td><a class="btn btn-outline-danger btn-sm" href="{% url "task_manager:task-delete" pk=task.id %}">Delete</a></td>
                  </tr>
                {% endfor %}
              </tbody>

            </table>
          </div>
        
          {% block pagination %}
              {% include "includes/pagination.html" %}
          {% endblock %}
        
        </div>
      </div>
      
    {% else %}
      <div class="text-center m-5">¯\_(ツ)_/¯</div>
    {% endif %}
  
  </div>
  
{% endblock %}
