{% extends "base.html" %}

{% block content %}
  <div class="container">
  
    <div class="row justify-content-center mt-5">
      <div class="col-10 bg-primary text-white p-2 rounded-top-3 fs-5 fw-medium border border-bottom-0 text-center">
        Worker: "{{ worker.username }}"
      </div>
    </div>
  
    <div class="row justify-content-center">
      <div class="col-10 bg-white border border-top-0 border-bottom-0">
      
        <div class="row justify-content-center">
          <div class="col-md text-start p-4">
            <h4 class="mb-3">Info:</h4>
            <p class="card-text"><strong>ID: </strong>{{ worker.id }}</p>
            <p class="card-text"><strong>First Name: </strong>{{ worker.first_name }}</p>
            <p class="card-text"><strong>Last Name: </strong>{{ worker.last_name }}</p>
            <p class="card-text"><strong>Position: </strong>{{ worker.position.name }}</p>
          </div>
          <div class="col-md text-start p-4">
            <h4>{{ worker.username }}'s tasks:</h4>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  {% for task in worker.tasks.all %}
                    <tr>
                      <td><a class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fw-medium" href="{% url "task_manager:task-detail" pk=task.id %}">{{ task.name }}</a></td>
                      
                      <td>
                        <form method="post" action="{% url 'task_manager:unassign_task' %}">
                          {% csrf_token %}
                          <input type="hidden" name="worker_id" value="{{ worker.id }}">
                          <input type="hidden" name="task_id" value="{{ task.id }}">
                          <button class="btn btn-link text-danger" type="submit"><i class="bi bi-x-circle-fill"></i></button>
                        </form>
                      </td>
                    
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row justify-content-center mb-5">
      <div class="col-10 bg-white p-5 rounded-bottom-3 fs-5 fw-medium border border-top-0 text-center">
        <a href="{% url "task_manager:worker-list" %}" class="btn btn-primary">Back to Workers</a>
      </div>
    </div>
  
  </div>
  
{% endblock %}
