{% extends "base.html" %}
{% load query_transform %}

{% block content %}
  
  
  <div class="container mt-5 mb-4">
    <div class="row align-items-center">
      <div class="col-auto fs-3 fw-bolder p-0">
        Workers
      </div>
    
      <div class="col-auto ms-auto p-0">
        {% block search %}
          {% include "includes/search.html" %}
        {% endblock %}
      </div>
    </div>
  </div>
  
  <div class="container">
    {% if worker_list %}
      <div class="row">
        <div class="col border bg-white rounded-3 p-5 pt-3 mb-5">
          
          <div class="table-responsive my-3">
            <table class="table table-hover">
              
              <thead>
                <tr>
                  <th>
                    <a
                        class="page-link"
                        href="?{% query_transform request order="username" order_direction=order_direction %}"
                    >
                      Username
                      {% if request.GET.order == 'username' %}
                        {% include "includes/order_direction.html" %}
                      {% endif %}
                    </a>
                  </th>
                  <th>
                    <a 
                        class="page-link" 
                        href="?{% query_transform request order="first_name" order_direction=order_direction %}"
                    >
                      First Name
                      {% if request.GET.order == 'first_name' %}
                        {% include "includes/order_direction.html" %}
                      {% endif %}
                    </a>
                  </th>
                  <th>
                    <a 
                        class="page-link" 
                        href="?{% query_transform request order="last_name" order_direction=order_direction %}"
                    >
                      Last Name
                      {% if request.GET.order == 'last_name' %}
                        {% include "includes/order_direction.html" %}
                      {% endif %}
                    </a>
                  </th>
                  <th>
                    <a 
                        class="page-link" 
                        href="?{% query_transform request order="position__name" order_direction=order_direction %}"
                    >
                      Position
                      {% if request.GET.order == 'position__name' %}
                        {% include "includes/order_direction.html" %}
                      {% endif %}
                    </a>
                  </th>
                  <th class="text-center">
                    <a 
                        class="page-link" 
                        href="?{% query_transform request order="tasks__count" order_direction=order_direction %}"
                    >
                      Tasks
                      {% if request.GET.order == 'tasks__count' %}
                        {% include "includes/order_direction.html" %}
                      {% endif %}
                    </a>
                  </th>
                </tr>
              </thead>
              
              <tbody>
                {% for worker in worker_list %}
                  <tr> 
                    <td>
                      <a 
                          class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fw-medium"
                          href="{% url "task_manager:worker-detail" pk=worker.id %}"
                      >
                        <i class="bi bi-person-fill"></i> {{ worker.username }}
                      </a>
                    </td>
                    <td>{{ worker.first_name }}</td>
                    <td>{{ worker.last_name }}</td>
                    <td>{{ worker.position.name }}</td>
                    <td class="text-center">{{ worker.tasks.count }}</td>
                  </tr>
                {% endfor %}
              </tbody>
              
            </table>
          </div>
        
          {% block pagination %}
            {% include "includes/pagination.html" %}
          {% endblock %}
          
        </div>
      </div>
    
    {% else %}
      <div class="text-center m-5">¯\_(ツ)_/¯</div>
    {% endif %}
  
  </div>

{% endblock %}
