{% extends "base.html" %}
{% load query_transform %}

{% block content %}
  
  
  <div class="container mt-5 mb-4">
    <div class="row align-items-center">
      <div class="col-auto fs-3 fw-bolder p-0">
        Workers
      </div>
    
      <div class="col-auto ms-auto p-0">
        {% block search %}
          {% include "includes/search.html" %}
        {% endblock %}
      </div>
    </div>
  </div>
  
  <div class="container">
    {% if worker_list %}
      <div class="row">
        <div class="col border bg-white rounded-3">
          
          <div class="table-responsive my-3">
            <table class="table table-hover">
              
              <thead>
                <tr>
                  <th><a class="page-link" href="?{% query_transform request order="id" %}">ID</a></th>
                  <th><a class="page-link" href="?{% query_transform request order="username" %}">Username</a></th>
                  <th><a class="page-link" href="?{% query_transform request order="first_name" %}">First Name</a></th>
                  <th><a class="page-link" href="?{% query_transform request order="last_name" %}">Last Name</a></th>
                  <th><a class="page-link" href="?{% query_transform request order="position__name" %}">Position</a></th>
                  <th><a class="page-link" href="?{% query_transform request order="tasks__count" %}">Tasks</a></th>
                </tr>
              </thead>
              
              <tbody>
                {% for worker in worker_list %}
                  <tr> 
                    <td>{{ worker.id }}</td>
                    <td><a class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fw-medium" href="{% url "task_manager:worker-detail" pk=worker.id %}"><i class="bi bi-person-fill"></i> {{ worker.username }}</a></td>
                    <td>{{ worker.first_name }}</td>
                    <td>{{ worker.last_name }}</td>
                    <td>{{ worker.position.name }}</td>
                    <td>{{ worker.tasks.count }}</td>
                  </tr>
                {% endfor %}
              </tbody>
              
            </table>
          </div>
        
          {% block pagination %}
            {% include "includes/pagination.html" %}
          {% endblock %}
          
        </div>
      </div>
    
    {% else %}
      <div class="text-center m-5">¯\_(ツ)_/¯</div>
    {% endif %}
  
  </div>

{% endblock %}
