{% extends "base.html" %}
{% load query_transform %}

{% block content %}
  <div class="container">
  
    <div class="row justify-content-center mt-5">
      <div class="col-12 bg-primary text-white p-2 rounded-top-3 fs-5 fw-medium border border-bottom-0 text-center">
        <i class="bi bi-person-fill"></i> {{ worker.username }}
        {% if user == worker %} (Me){% endif %}
      </div>
    </div>
  
    <div class="row justify-content-center">
      <div class="col-12 bg-white border border-top-0 border-bottom-0">
      
        <div class="row justify-content-start">
          <div class="col-auto text-start p-4 me-5">
            <h4 class="mb-3">Info:</h4>
            <p class="card-text"><strong>ID: </strong>{{ worker.id }}</p>
            <p class="card-text"><strong>First Name: </strong>{{ worker.first_name }}</p>
            <p class="card-text"><strong>Last Name: </strong>{{ worker.last_name }}</p>
            <p class="card-text"><strong>Position: </strong>{{ worker.position.name }}</p>
          </div>
        
          <div class="col-lg text-start p-4">
            <h4>{{ worker.username }}'s tasks:</h4>
            {% if page_obj %}
              <div class="table-responsive my-4">
                <table class="table">

                  <thead>
                    <tr>
                      <th>Task</th>
                      <th>Deadline</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Unassign</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for task in page_obj %}
                        <tr>
                          <td>
                            <a class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fw-medium"
                               href="{% url "task_manager:task-detail" pk=task.id %}">
                              <i class="bi bi-sticky-fill"></i> {{ task.name }}
                            </a>
                          </td>
                          <td class="text-nowrap">{{ task.deadline|date:"d-m-y" }}</td>
                          <td class="text-center">
                            {% block task_status_switch %}
                              {% include "includes/task_status_switch.html" %}
                            {% endblock %}
                          </td>
                          <td class="text-center">
                            {% block unassign_worker %}
                              {% include "includes/assign_unassign_worker.html" %}
                            {% endblock %}
                          </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
       
              {% block pagination %}
                {% include "includes/pagination.html" %}
              {% endblock %}
              
            {% else %}
              {% include "includes/nothing_found.html" %}
            {% endif %}
          </div>
        
        </div>
      </div>
    </div>
  
    <div class="row justify-content-center mb-5">
      <div class="col-12 bg-white p-5 rounded-bottom-3 fs-5 fw-medium border border-top-0 text-center">
        <a href="{% url "task_manager:worker-list" %}" class="btn btn-primary">Back to Workers</a>
      </div>
    </div>
  
  </div>
  
{% endblock %}
